body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.footer {
  background-color: #0040ff;
  color: white;
  padding: 50px 80px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

/* Left side */
.footer-left {
  flex: 1;
  min-width: 300px;
  margin-right: 40px;
}

.footer-left h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.footer-left p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.map-box {
  width: 250px;
  height: 150px;
  border-radius: 12px;
  overflow: hidden; 
  margin-bottom: 20px;
}

.map-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.contact-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
}


.contact-item .icon {
  font-size: 18px;
}

/* Right side (Form) */
.footer-right {
  flex: 1;
  min-width: 250px;
  margin-right: 20px;
}

.footer-right form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-right input,
.footer-right textarea {
  padding: 12px;
  border: 2px solid #0040ff;
  border-radius: 50px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.footer-right input:focus,
.footer-right textarea:focus {
  border-color: #00b8ff;
}

.footer-right input,
.footer-right textarea {
  margin-bottom: 12px;
}


.footer-right button {
  background: white;
  color: #0040ff;
  border: none;
  width: 20%;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer-right button:hover {
  background: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


/* Bottom */
.footer-bottom {
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid rgba(255,255,255,0.3);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
}